<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <img src="~/Content/img.jpg" />
    </header>
    <main>
        <p name="top"></p>
        <nav>
            <p>@Html.ActionLink("Главная", "Index")</p>
            <p>@Html.ActionLink("Гостевая", "Review")</a></p>
            <p>@Html.ActionLink("Анкета", "Questionary")</p>
        </nav>
        @RenderBody()
    </main>
    <footer>
        <p>
            <span>&copy; Mark Bondaruk</span>
            <a href="#top">Back to Top</a>
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
