@{
    ViewBag.Title = "Гостевая";
}
<div class="right-sidebar">
    <nav>
        <p>@Html.ActionLink("Главная", "Index")</p>
        <p>@Html.ActionLink("Гостевая", "Review")</p>
        <p>@Html.ActionLink("Анкета", "Questionary")</p>
    </nav>
</div>
<div name="reviews">
    @{
        foreach (var review in ViewBag.Reviews)
        {
            <p>@review.AuthorName @review.Date</p>
            <p>@review.Text</p>
        }

    }
</div>

@using (Html.BeginForm("AddReview", "Home"))
{
    <p><textarea name="Text" placeholder="Напишете Ваш отзыв" required></textarea></p>
    <p><input type="text" name="AuthorName" placeholder="Введите имя" required /></p>
    <p><input type="submit" value="Отправить" /></p>
}